.input {
    background: #F4F4F4;
    width: 100%;
    padding: 8px 0;
    border: 1px solid;
    border-radius: 2px;
}

body {
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
    background: url(../front/images/body-2.jpg) center;
    background-size: cover;
}

.our-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.our-team li {
    width: 200px;
    margin-bottom: 10px;
}

.our-team img {
    width: 100%;
}
