.input {
    background: #F4F4F4;
    width: 100%;
    padding: 8px 0;
    border: 1px solid;
    border-radius: 4px;
}
body {
    min-height: 100vh;
    height: auto;
    background: url(../front/images/body-2.jpg) center;
    background-size: cover;
}