.colors label.selected {
    border: 3px double white;
}

#stars-image {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

#stars-image svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: 60%;
}


.custom-card {
    position: relative;
    /* padding: 40px; */
    text-align: center;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    transition-duration: .5s;
}

.custom-card.portrait {
    aspect-ratio: 193 / 258;
}


.custom-card.landscape {
    aspect-ratio: 272 / 201;
}

.custom-card.square {
    aspect-ratio: 1 / 1;
}

.custom-card.landscape #stars-image {
    max-width: 70%;
    max-height: 70%;
}

.custom-card .texts .text-content {
    font-size: 50%;
    font-weight: 700;
    color: #fff;
    margin-top: 10px;
}

.custom-card .texts .place-name {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}

.custom-card .texts .long-lat {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}

.custom-card .texts .date {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}

.custom-card .texts {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.custom-card::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    background-image: url('../media/img/WoodenFrame.png');
    background-size: cover;
    left: 0;
    z-index: 2;
}

.custom-card::before {
    position: absolute;
    background: #000;
    content: "";
    height: 89%;
    width: 85%;
    top: 6.5%;
    left: 7.5%;
    z-index: 1;
}

.custom-card .user-image {
    width: 190px;
    border-radius: 15px;
    overflow: hidden;
    max-height: 120px;
    margin: 10px;
}

.custom-card .user-image img {
    /*width: 100%;*/
    max-width: 100%;
    max-height: 100px;
}

body {
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
    background: url(../front/images/body-2.jpg) center;
    background-size: cover;
}

@media screen and (max-width: 1000px) {
    #editor-box {
        flex-direction: column;
        gap: 32px;
        padding: 24px;
        width: 100% !important;
    }

    .s-container {
        height: auto !important;
    }

    section {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    #main-map {
        flex: none !important;
    }

    .custom-card {
        /*max-height: 800px !important;*/
    }
}

#main-map {
    background-image: url("../media/img/gray-sofa-brown-living-room-with-copy-space.jpg");
    background-position: 50% 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
    flex: 1;
}

@media screen and (max-width: 768px) {
    .container, .container-md, .container-sm {
        margin: 0 !important;
    }
}

.colors label {
    height: 30px;
    width: 30px;
}

.colors label input {
    display: none;
}

.colors {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.sizes {
    display: flex;
    gap: 7px;
}

.sizes .portrait {
    height: 70px;
    width: 50px;
    border: 2px solid #5c5c5c;
}

.sizes input[type="radio"] {
    display: none;
}

.sizes .landscape {
    height: 50px;
    width: 70px;
    border: 2px solid #5c5c5c;
}

.sizes .square {
    height: 50px;
    width: 50px;
    border: 2px solid #5c5c5c;
}

.sizes label.selected {
    border-color: #fff;
}

.form-control {
    background: #ffffff12;
    color: #fff;
}

.form-control:focus {
    background: #ffffff12;
    color: #fff;
}

#map {
    height: 100%;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
