
.title-sub {
    font-size: 28px;
    font-weight: 500;
    margin: 0;
}

#led_map {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#list-icon-header {
    list-style: none;
    display: flex;
    justify-content: space-between
}

.main-carousel img{
    border-radius: 8px !important;
    margin: 0 8px;
}

@media screen and (max-width: 768px) {

    #looking_for_gift, #reason_to_choose, #Attach_photos {
        padding: 24px !important;
    }

    #btn-box {
        text-align: center;
        margin-bottom: 16px;
    }

    #list-icon-header li {
        margin-bottom: 16px;
    }

    #list-icon-header{
        padding: 0 32px;
    }

    .service-item img {
        margin: auto !important;
    }

    .service-item {
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        max-width: 100px;
    }

    #led_map {
        flex-direction: column;
    }

    #header-bloc img {
        margin-top: 16px;
        width: 100%;
    }

    #main-header {
        height: auto !important;
    }

    #header-bloc {
        flex-direction: column;
        padding: 0 48px;
        align-items: start;
    }

    #header-bloc .btn-create-map {
        margin: 0 !important;
    }

    #Attach_photos .btn-create-map {
        margin-top: 24px !important;
    }

    .bg .btn-create-map {
        margin-bottom: 24px !important;
    }


    #header-bloc h1 {
        font-size: 28px !important;
    }


    #header-bloc h2 {
        font-size: 20px !important;
    }

    .menu a:hover, .menu a.activated, .menu li {
        height: auto;
    }

    .menu a {
        padding: 8px 32px;
    }

    .bg-gray > div {
        padding: 0 8px;
    }

    .grid-map-4, .grid-map, .grid-map-3 {
        gap: 16px !important;
        grid-template-columns: repeat(2, 200px) !important;
    }

    .btn-create-map {
        margin-top: 0 !important;
        margin-bottom: 8px !important;
        margin-left: 0 !important;
    }
}

.title-sub-2 {
    font-size: 24px;
    font-weight: 400;
    margin: 0px 0 16px;
}

.promo h2:first-child {
    position: relative;
    display: inline-block;
    padding: 0 8px;
}

.promo h2:first-child::before {
    margin: 16px 0;
    content: '';
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #7B7483;
    color: rebeccapurple;
    font-weight: 500;
}

.promo h2 {
    margin: 0;
    font-size: 22px !important;
    font-weight: 500;
}

.grid-map {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 200px);
    justify-content: center;
    margin: 24px 0 0;
}

.grid-map-3 {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    margin: 24px 0;
}

.grid-map-4 {
    display: grid;
    gap: 56px;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    margin: 24px 0 0;
}

.grid-map-2 {
    display: grid;
    gap: 24px;
    text-align: left;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin: 8px 0;
}

.grid-map > img, .grid-map-3 > .video > img {
    width: 100%;
    height: 100%;
}

.video {
    position: relative;
}

.video img:nth-child(1) {
    position: absolute;
    margin: auto;
    width: 100%;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.grid-map > img {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .6);
    overflow: hidden;
    border-radius: 4px;
}


.bg {
    background-image: url("https://res.cloudinary.com/dyhgx4nro/image/upload/v1707903700/bg.webp");
    background-size: cover;
    background-color: black;
}

.bg-gray {
    text-align: center;
    background: #E6E6E6;
}

body {
    background-color: black;
}

.bg-gray-2 {
    text-align: center;
    background: #242424;
}

.card {
    border-radius: 8px !important;
    overflow: hidden;
    margin: auto 4px !important;
    width: 200px !important;
    height: auto !important;
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, .6);
}

#main-home {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

#main-header {
    background-image: url("https://res.cloudinary.com/dyhgx4nro/image/upload/v1707903700/bg-home.webp");
    background-size: cover;
    background-color: black;
    width: 100%;
    height: 100%;
}

.btn-create-map {
    padding: 20px 24px;
    background: #5E53AC;
    color: white;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, .3);
    margin: 36px 0 0 16px;
    transition: .3s;
    border-radius: 50px;
}

.disabled {
    background: lightgrey !important;
}

.btn-create-map:hover {
    transition: .3s;
    box-shadow: 0 0 32px 1px rgba(0, 0, 0, .3);
}

.service-item {
    align-items: end;
    display: flex;
    font-size: 12px;
}

.service-item > div {
    padding-bottom: 4px;
}

.service-item img {
    margin-right: 8px;
}


.s-container {
    color: rgba(255, 255, 255, .8);
    padding: 64px 0;
}

.occasion {
    box-shadow: 4px 4px 16px 1px;
    border-radius: 2px;
    overflow: hidden;
    color: black;
    background: white;
}